*{
    margin: 0;
    padding: 0;
    --animate-duration: 2s;
}

:root {
    --animate-duration: 2s;
}

header {
    display: flex;
    background-color: #fc4054;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
}

.fistnav {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    width: 70px;
    object-fit: contain;
}

.logo img {
    width: 100%;
    padding: 15px 0 0 0;
    z-index: 10000;
    position: relative;
}

header ul {
    display: flex;
    list-style: none;
}

header li {
    margin: 20px;
}

header a {
    text-decoration: none;
    font-size: 18px;
    color: #f4f2f2;
    font-weight: 400;
    font-family: "Sen";
}




/* banner slider  */

.bannerslider {
    background-color: #f2f0f5;
    width: 100%;
    height: 600px;
    display: flex;
    align-items: end;
    justify-content: center;
    z-index: -1;
}

.bslide {
    width: 80%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sliderh {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h2 {
    width: 100%;
    text-align: left;
    font-size: 70px;
    line-height: 32px;
    color: #30cec3;
    font-weight: 700;
    font-family: "Sen";
}

h4 {
    margin: 20px 0 0 0;
    text-align: left;
    font-size: 50px;
    line-height: 50px;
    color: #232222;
    font-weight: 700;
    font-family: "Sen";
}

p {
    margin: 20px 0 0 0;
    font-size: 18px;
    line-height: 25px;
    color: #232222;
    font-weight: 400;
    font-family: "Sen";
}

.buttons {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.buttons button {
    margin: 30px 0 0 0;
    width: 48%;
    font-size: 18px;
    line-height: 50px;
    color: #fcfcfd;
    font-weight: 700;
    font-family: "Sen";
    border-radius: 0;
    border: none;
}

button.readmorebtn {
    background-color: #f8f8f8;
    color: #232222;
}


button.contactusbtn {
    background-color: #232222;
}

.sliderimage {
    width: 50%;
    display: flex;
    justify-content: end;
}

.sliderimage img {
    width: 60%;
}

/* slik overwrite  */

.sliksliderr.slick-initialized.slick-slider {
    display: flex;
    justify-content: center;
    align-items: end;
}

.slick-arrow {
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 10;
    box-shadow: 0px 0px 13px 0px #0000002b;
}

.slick-prev{
    background-color: white;
    border: 0;
    left: 0;
}

.slick-next{
    background-color: #01c4b6;
    border: 0;
    right: 0;
}

.slick-prev:before {
    content: "<";
    color: rgb(0, 0, 0);
    font-size: 30px;
    
}
  
.slick-next:before {
    content: ">";
    color: rgb(255, 255, 255);
    font-size: 30px;
}


/* about us saction  */

.about {
    padding: 150px 0;
    background-color: #ffffff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 10;
    position: relative;
}

.image {
    width: 30%;
    object-fit: cover;
}

.image img {
    width: 100%;
}

.abouttext {
    width: 35%;
}

.about h2{
    font-size: 50px;
    line-height: 52px;
}

.about h4{
    font-size: 40px;
    line-height: 38px;
}

.about p{
    font-size: 17px;
    line-height: 25px;
}

button.aboutread {
    width: 38%;
    font-size: 18px;
    line-height: 50px;
    color: #fcfcfd;
    font-weight: 700;
    font-family: "Sen";
    border-radius: 0;
    border: none;
    background-color: #232222;
    margin: 30px 0 0 0;
}

.bluebar {
    display: flex;
}

.bluebar img {
    margin: auto;
    height: 80px;
    position: relative;
    top: -70px;
}


/* services saction  */

.preservice {
    width: 100%;
    margin: 100px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.preservice h2 {
    width: auto;
    font-size: 50px;
    line-height: 52px;
}

.preservice h4 {
    margin: 0;
    font-size: 40px;
    line-height: 52px;
}

.services {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sbluebar1, .sbluebar2 {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.servicesmain {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 50px 0;
}

.servicesmain img {
    width: 110px;
}

h3 {
    margin: 10px 0 0 0;
    font-size: 23px;
    line-height: 32px;
    font-weight: 700;
    font-family: "Sen";
}

.services p {
    margin: 10px 0 0 0;
    text-align: center;
    font-size: 16px;
    line-height: 25px;
    width: 80%;
}

.sbluebar1 img {
    height: 80px;
}

.button {
    display: flex;
    justify-content: center;
}

.button button {
    width: 50%;
}


/* qulified traffic section  */

.qualified {
    margin: 100px 0 0 0;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    background: linear-gradient(105deg, #ffffff 400px, #fc4054 200px);
}

.qualified img {
    width: 30%;
    margin: 0 30px 0 0;
}

.contain {
    width: 40%;
    margin: 0 100px 0 0;
}

.contain h2 {
    font-size: 35px;
    line-height: 25px;
    color: #f8f8f8;
    font-weight: 700;
    font-family: "Sen";
}

.contain p {
    font-size: 18px;
    line-height: 25px;
    color: #f8f8f8;
    font-weight: 400;
    font-family: "Sen";
}


/* testimonial section  */
p.testimonialpera {
    margin: 0;
    font-size: 16px;
    line-height: 30px;
    color: #2f2f2e;
    font-weight: 400;
    font-family: "Sen";
    text-align: center;
}

.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 17px 50px;
    width: 80%;
    margin: 40px auto;
    border: 2px dotted black;
}

.testimonial h4 {
    margin: 0 0 15px 0;
    text-align: center;
    font-size: 24px;
    line-height: 30px;
}

.invertedcoma {
    font-size: 114px;
    line-height: 0;
    margin: 70px 0 0 0;
    color: #01c4b6;
    font-family: sans-serif;
}

.space {
    height: 100px;
}

.testimonialslides {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.testimonialslides .slick-prev {
    background-color: #01c4b6;
    border: 0;
    color: white;
    left: 0;
}

.testimonialslides .slick-prev:before {
    content: "<";
    color: rgb(255 255 255);
    font-size: 30px;
}


/* contact us section  */
.contactus {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 70%;
    margin: auto;
}

.getintuch {
    width: 45%;
}

.contactus h2 {
    font-size: 50px;
    line-height: 30px;
    margin: 7px 0;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

input {
    width: 90%;
    font-size: 13px;
    padding: 13px;
    margin: 7px 0;
    border: 1px solid #b0b0b0;
}

textarea#message {
    width: 90%;
    font-size: 13px;
    padding: 13px;
    margin: 7px 0;
    border: 1px solid #b0b0b0;
}



button.send {
    margin: 15px 0 0 0;
    width: 40%;
    font-size: 18px;
    line-height: 50px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Sen";
    border-radius: 0;
    border: none;
    background-color: #fc4054;
}


.newsletter {
    width: 45%;
}
.contactus p {
    text-align: left;
}

button.send.subscribe {
    background-color: #30cec3;
    width: 96%;
    margin: 10px 0;
}


/* footer  */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #252525;
    padding: 70px 0 40px 0;
}

.info {
    display: flex;
    justify-content: space-around;
    width: 70%;
}

footer i.fa-solid {
    font-size: 30px;
    color: #29ccc1;
}

footer h3 {
    font-size: 30px;
    color: #f8f8f8;
    line-height: 0.5;
}

footer p {
    font-size: 12px;
    line-height: 0;
    color: #f8f8f8;
}

.devider {
    margin: 60px 0;
    width: 30%;
    height: 2px;
    background-color: #29ccc1;
}

footer ul {
    display: flex;
    list-style: none;
}

.social {
    display: flex;
    justify-content: space-evenly;
    width: 10%;
    margin: 50px;
}

footer li {
    padding: 0 20px;
}

footer a {
    font-size: 15px;
    color: #f4f2f2;
    text-decoration: none;
}

.fa-brands {
    font-family: "Font Awesome 6 Brands";
    font-weight: 400;
    color: #f8f8f8;
}
